<ion-header collapse="condense" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div data-aos="fade-right">
    <ion-card *ngFor="let language of languageList">
      <ion-card-header>
        <ion-card-title>{{language.order}}. {{language.name |titlecase}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="language-img">
          <img style="height: 100px;" [src]="language.imgUrl" [alt]="language.name">
        </div>
        <div class="card-icon-action">
          <a [routerLink]="['/' + routes.Home]" routerLinkActive="router-link-active" (click)="editProperty(language)">
            <ion-icon slot="start" name="create"></ion-icon>
          </a>
          <a (click)="openProperty()">
            <ion-icon slot="start" name="open"></ion-icon>
          </a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>